.todoActionbar {
  background-color: aquamarine;
  transform: translateX(50%);
  border: 1px solid #c3c3c3;
  padding: 10px;
  width:50%;
  height:25px;
}
h1{
text-align: center;
}
.todoContainer{
background-color:cyan;
transform: translateX(20%);
border: 1px solid #c3c3c3;
padding: 10px;
width: 70%;
}
.todoItems{
display: flex;
flex-flow: row;
justify-content:space-around;
}
.todoItemCompleted{
border: 1px solid #c3c3c3;
padding: 10px;
width:50%;
background-color:coral;
}
.todoItem{
border: 1px solid #c3c3c3;
padding: 10px;
width:50%;
background-color:white;
}